<section class="goods container">
    <h2>Category Products</h2>
    <ul>
        @@include('cardgoods/index.html',{'img':'1','link':'#','caption':'APPAREL KIDS','pfx':''})
        @@include('cardgoods/index.html',{'img':'2','link':'#','caption':'HOLIDAY SHOP','pfx':''})
        @@include('cardgoods/index.html',{'img':'3','link':'#','caption':'TOYS','pfx':''})
        @@include('cardgoods/index.html',{'img':'4','link':'#','caption':'ACCESSORIES','pfx':''})		
    </ul>
    <div class="goods-slider">			
        <div class="goods-slider__arrow" tabindex="0">				
            <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M25 5L12 18L25 31" stroke="#1E0606" stroke-width="4"/>
            </svg>
        </div>
        <div class="goods-slider__arrow" tabindex="0">
            <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 5L25 18L12 31" stroke="#1E0606" stroke-width="4"/>
            </svg>
        </div>

        <p class="goods-slider__text">
            Modern finds for the modern home. Curated goods by unique designers around the world from fashion to furniture for kids and adults.
        </p>
    </div>
</section>