<section class="brands container">
    <h2 class="visually-hidden">brands</h2>
    <div class="brands__wr">
        <ul>
            <li>
                <a href="#">
                <img src="static/images/brands/brand1.png" alt="mail.ru">
                </a>
            </li>
            <li>
                <a href="#">
                <img src="static/images/brands/brand2.png" alt="apple">
                </a>
            </li>
            <li>
                <a href="#">
                <img src="static/images/brands/brand3.png" alt="eltex">
                </a>
            </li>
            <li>
                <a href="#">
                <img src="static/images/brands/brand4.png" alt="owox">
                </a>
            </li>
        </ul>
    </div>
</section>
