<section class="additional-inform container">
    <ul>
        <li>
            <img src="static/images/girl.jpg" alt="a girl in a dress">
        </li>
        <li class="additional-inform-sidebar">
            <h2>Delivery</h2>
            <ul class="text">
                <li>
                    <input type="radio" class="radio visually-hidden" name="additional-inform-menu-item" id="additional-inform-menu-item1" checked>
                    <label for="additional-inform-menu-item1">Delivery</label>
                </li>
                <li>
                    <input type="radio" class="radio visually-hidden" name="additional-inform-menu-item" id="additional-inform-menu-item2">
                    <label for="additional-inform-menu-item2">Guarantee</label>
                </li>
                <li>
                    <input type="radio" class="radio visually-hidden" name="additional-inform-menu-item" id="additional-inform-menu-item3">
                    <label for="additional-inform-menu-item3">Credit</label>
                </li>
            </ul>
            <p>Some days i feel like i've been working on dlk my entire life and there are other days that i am completely shocked that four years have flown by. It's simply magical.</p>
            <p>What started as an outlet to deal  with the traumatic loss of my husband, dlk has now become a truly happy place for me and i have you and all of the beautiful designers that we work with to thank!</p>

            @@include('button100/index.html',{'prefix':'#','title':'LEARN MORE','class':'additional-inform-button'})
        </li>
    </ul>
</section>