/* CONTACT */	
.contacts {
	display: flex;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight:400;
	font-style: normal;
	margin: 0px auto 61px auto;
}
.contact-form {
    max-width: 680px;
    width: 100%;
    background: #E5EAF8;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight:400;
	font-style: normal;
	font-size:14px;
	line-height: 19px;
    margin: 0px auto 0px 0px;
    padding: 20px 40px 40px 40px ;
}
.contact-form fieldset {
    border: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin: 20px 0px 0px 0px;
}

.contact-wrapper {
	display: flex;
    flex-direction: column;
}
.contact-line {
    justify-content: space-between;
}
.contact-block {
    max-width: 290px;
    width: 100%;
}

.contact-form label {
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
	border: none;
	margin: 3px 0px 2px 0px;
	padding: 0px 0px 0px 0px;   
}

.contact-form input,
.contact-form textarea {
    height: 50px;
	background: #FFFFFF;
	border: 2px solid rgba(0, 0, 0, 0.2);
    padding-top: 5px; 
	padding-right:20px;
	padding-bottom: 5px; 
	padding-left:20px;
    font-size: 18px;
    line-height: 25px;
}

.contact-form input:hover,
.contact-form textarea:hover {
	border: 2px solid rgba(0, 0, 0, 0.3);
}

.contact-form input:active,
.contact-form textarea:active {
	border: 2px solid rgba(0, 0, 0, 0.2);
}

.contact-form textarea {
    height: auto;
	min-height: 150px;
    resize: none;
}
.checkbox {
	margin-top: 5px;
}

.checkbox label,
.radiobox label {
    position: relative;
	padding-top: 0px;
    padding-left: 32px;
    cursor: pointer;
}

.checkbox label:before,
.checkbox label:after,
.radiobox label:before,
.radiobox label:after  {
    content: '';
    position: absolute;
    display: block;
}
.checkbox label:before {
    width: 19px;
    height: 19px;
    top: -1px;
    left: 0;
	border: 2px solid #C29974;
	border-radius: 3px;	
}
.checkbox label:after {
    width: 14px;
    height: 15px;
    top: -1px;
    left: 3px;
	background-image: url('../../static/images/checkbox.png');
    background-repeat: no-repeat;
    opacity: 0;
}

.input:checked + label:after {
    opacity: 1;
} 

.input:focus + label:before,  
.input:hover + label:before {
	border: 2px solid #836E5B;
}

.contact-button {
	border: none;
	background: #000000;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight:700;
	font-style: normal;
	font-size:16px;
	line-height: 22px;
	color:white;
	text-transform: uppercase;
	margin: 15px 0 0px 0;
	padding: 9px 22px;
	cursor: pointer;
}
.contact-button:hover {
	background: #C29974;
}
.contact-button:active {
	background: #CFAF91;
}
.contact-button:disabled {
	color: #E1E1E1;
	background: #C1C1C1;
}

.sidebar {
	width: 380px;
	font-size:16px;
	line-height: 22px;
	color: #1E0606;	
	margin: 0;
	padding: 0;
}
.sidebar p {
	margin: 0 0 20px 0;
	padding: 0 0 0 1px;
}
.slogan {
	font-family: 'Montserrat', Arial, sans-serif;
	font-weight:600;
	font-style: normal;
	font-size:26px;
	line-height: 34px;
	color: #C29974;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}
