$none1: red;
$none2: transparent;
.about-us__wr {
  display: flex;
  margin: 105px auto 147px auto; 
  background: $none1;
  max-width: 1180px; 
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

  .boxleft {background: aqua;padding: 5px;}
  .boxright {background: navy;padding:5px 20px}
}
