

		
			<div class="bottom-div">
				<div class="rating-box">
					<div class="star-span">Company Rating</div> 
					<div class="star">
						@@include('star/index.html',{'num':'1','score':'Excellent'})
						@@include('star/index.html',{'num':'2','score':'OK'})
						@@include('star/index.html',{'num':'3','score':'Fine'})
						@@include('star/index.html',{'num':'4','score':'Passably'})
						@@include('star/index.html',{'num':'5','score':'Awful'})
						     
					</div>
					
				</div>
				<div>
					Copyright © 2018 Dlk • Design Life Kids
				</div>
				<div>
					<a class="footer-web" href="#">Web Design — Direct Line Development</a>
				</div>
			</div>

