/* HEADER */
.header {
  padding: 50px 0 56px 0;
  display: flex;
  align-items: center;
font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
text-transform: uppercase;
color: #1E0606;
}

.header nav {
  margin: 0 auto 0 21px;
}

.header ul {
  display: flex;
  align-items: center;
margin-bottom: 20px;
}

.header li {
  margin-right: 20px;
}

.header-contact {
display: block;
font-weight: 700;
margin-left: 21px;
margin-bottom: 5px;
word-spacing: 3px;   
}

.header a {
  color: #1E0606;
}

.header a:hover { 
opacity: 0.5;
}

.header a:active {
opacity: 0.2;
}