<div class="banner-wrapper">
  <section class="banner container">

      <div class="banner__counter">
          <p class="banner__p">01</p>
          <ul class="banner__ul">
              <li class="banner__li"><button class="banner__button banner__button_active"></button></li>
              <li class="banner__li"><button class="banner__button"></button></li>
              <li class="banner__li"><button class="banner__button"></button></li>
              <li class="banner__li"><button class="banner__button"></button></li>
          </ul>
      </div>

      <div class="banner__slogan">
          <h1 class="banner__h1">THE OOH NOO COLLECTION</h1>
          <p class="banner__country">Designed in Slovenia</p>
          @@include('button100/index.html',{'prefix':'#','title':'EXPLORE NOW','class':'slider-button'})                   
      </div>


      <img class="banner__img" src="static/images/monster.png" alt="monster on trolly"> 
      <div class="banner__bottom">Free (continental) USA shipping on all orders of $100 USD or more!</div>   
  </section>
</div>
